body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.block_wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.block_1,
.block_2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  color: white;
  font-size: 36px;
}

.block_2 {
  right: 50px;
  top: 50%;
}

.block_1 {
  position: relative;
  left: 50px;
  top: 50%;
  animation: moveUpDown 5s infinite alternate;
}

.button_wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.start_button {
  font-size: 36px;
  background-color: gray;
  padding: 10px 0;
  width: 200px;
  border: none;
  outline: 0;
  color: white;
  border-radius: 15px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
  z-index: 2;
  left: 75px;
  transition: 2s;
  display: none;
}
